body {
    font-size: 13px;
}

table {
    font-size: 13px;
    color: #555;
}

thead td {
    background-color: #337ab7;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
    white-space: nowrap;
}

.btn {
    font-size: 13px;
    text-shadow: 1px 1px 2px #000000;
}